#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.vspscc
*.vssscc
*.suo
*.tlb
*.bak
*.[Cc]ache
*.log
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
TestResults/

#Subversion files
.svn

#NuGet
packages/
*.nupkg

#Git merge originals
*.orig

*.ncrunchsolution
*.ncrunchproject

code_drop
build_output

SolutionVersion.cs
NDepend.xml
lib/MoMA/Reports/submit.xml
